/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
font-family: "Montserrat";
src: url("../fonts/Montserrat-Medium.ttf");
		}
		
body {
	background: #f5fafe;
}

#menu {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
}

#main {
	margin-left: 150px;
	display: flex;
  flex-direction: row;
}

#side1 {
	padding: 30px;
	width: 300px;
	border-right: 3px solid #92c5ff;
}
#side2 {
	padding: 30px;
	flex-grow: 1;
}
#buildings .gedung {
	background: #fff;
	margin: 10px 0;
	font-weight: bold;
	padding: 10px;
	border-radius: 4px;
}



body {
	font-family: 'Montserrat', sans-serif;
}

#menu {
	
	max-width: 150px;
}

#menu h1 {
	padding: 45px 40px;
	text-align: center;
	font-weight: 800;
font-size: 22px;
line-height: 27px;
color: #000;
margin-bottom: 60px;
}

#menu .butt {
	text-decoration: none!important;
	text-align: center;
	margin-bottom: 60px;
	display: block;
}

#menu .butt span {
	display: block;
	margin: 10px auto;
	text-align: center;
	color: #06203D;;

}

#menu .butt div{
	width: 43px;
	height: 43px;
	display: block;
	margin: 0 auto;
}

#menu #dashboard div {
	background: url("../img/Vector.png");
}
#menu #profile div, #menu #login div {
	background: url("../img/profile.png");
}
#menu #logout {
	position: absolute;
	bottom: 46px;
	left: 0;
	right: 0;
	margin-bottom: 0;
}

#menu #logout div{
	width: 36px;
	height: 36px;
	display: block;
	margin: 0 auto;
}
#menu #logout div {
	background: url("../img/logout.png");
}

/* .caml {
	display: none;
} */

.ha1 {
	font-weight: 500;
font-size: 28px;
line-height: 44px;
text-align: center;
}

.ha2 {
	font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 37px;
}

.dimana {
	font-style: normal;
font-weight: 500;
/* font-size: 24px; */
line-height: 29px;
/* margin-top: 27px; */
color: #275488;
margin-bottom: 13px;
}

.timestamp {
	font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #202F41;
}

.laporkan {
	background: #BFBFBF;
border-radius: 10px;
color: #fff;
padding: 10px;
text-align: center;
font-weight: 600;
font-size: 18px;
line-height: 29px;
margin: 20px 0;
}

.vidgrid {
	display: flex;
}

.vidgrid .col {
	flex: 1;
}

.vidgrid .col h3 {
	font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #06203D;
}

.vidgrid .col h4 {
	font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #045577;
}

.vid-mask {
	border-radius: 10px; 
	margin: 0 10px;
	overflow: hidden; 
	position: relative;
}

.vid-mask video {
	width: 100%;
}

#pelapor h2 {
	font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
margin-top: 20px;
color: #000000;
}

#pelapor input {
	background: #FFFFFF;
border: 1px solid rgba(32, 32, 32, 0.84);
box-sizing: border-box;
border-radius: 10px;
width: 100%;
padding: 10px;
font-size: 24px;
margin-top: 15px;
margin-bottom: 	25px;
}

#pelapor #lapor {
	background: #F52424;
border-radius: 10px;
}


.flexlapor {
	display: flex;
}
.flexlapor a {
	display: block;
	flex: 1;
	text-decoration: none;
	color: #fff;
	text-align: center;
	font-weight: 600;
font-size: 24px;
line-height: 29px;
padding: 10px;
}
#cancel {
	color: #000;
}
#framer {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: #fff;
	right: 0;
	z-index: 100;
	font-size: 50px;
}