{% extends 'dash.html' %}
{% block camera %}
<style>
    #box {
        position: relative;
        display: table;
    }

    #box img {
        display: block;
    }

    #bbox0 {
        position: absolute;
        pointer-events: none;
    }

    #bbox1 {
        position: absolute;
        pointer-events: none;
    }

    #bbox2 {
        position: absolute;
        pointer-events: none;
    }

    #bbox3 {
        position: absolute;
        pointer-events: none;
    }

    #bbox4 {
        position: absolute;
        pointer-events: none;
    }

    #bbox5 {
        position: absolute;
        pointer-events: none;
    }

    #bbox6 {
        position: absolute;
        pointer-events: none;
    }
</style>
<div class='ha2'>
    Pick The Suspect
</div>
<div class='dimana'>
    Gedung A - Cam1
</div>
<div class='timestamp'>
    18:00:01 - 21 September 2019
</div>
<div class='vid'>
    <div class='vid-mask'>
        <div id='framer'>
            <img id="suspect"  src="" alt="">
            <div id='box' style="width: 100%; height: 100%; margin: 0 auto;">
            </div>
        </div>
        <video data-dashjs-player controls id='vid' src="../static/vid/{{ filename }}.mpd">
        </video>
    </div>
</div>




<div class='laporkan' id='laporkan'>LAPORKAN</div>
<div id='pelapor'>
    <h2>Apa yang terjadi?</h2>
    <input type='text' name='laporan' id='title' placeholder='Example: Pencurian Sepatu'>
    <br>
    <div class='flexlapor'>
        <a id='lapor'>LAPORKAN</a> <a href='#' id='cancel'>KEMBALI</a>
    </div>
</div>

<!-- <div class='ha2' id >
    Suspect Path
</div>
<div class='vidgrid'>
    <div class="col" style="max-width:300px; margin:0 auto">
        <div class='vid-mask' >
            <video data-dashjs-player controls id='vid1' src="{{ url_for('static', filename='vid/Rec_1.mpd') }}">
            </video>
        </div>
        <h3>Footage 1</h3>
        <h4>Gedung A cam 1</h4>
    </div>
    <div class="col" style="max-width:300px; margin:0 auto">
        <div class='vid-mask'>
                <video data-dashjs-player controls id='vid2' src="{{ url_for('static', filename='vid/Rec_2.mpd') }}">
                </video>
        </div>
        <h3>Footage 2</h3>
        <h4>Gedung A cam 2</h4>
    </div>
</div> -->
</div>
</div>
{% endblock %}
{% block script %}



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}