{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="static/css/dashboard.css">
{% endblock %}

{% block sidebar %}
<a href="/">
  <button class="container">
    <img src="static/img/dashboard.png" alt="dashboard">
  </button>
  <img class="selected" src="static/img/selected.jpg" alt="">
</a>
<a href="/">
  <button class="container">
    <img src="static/img/profile.png" alt="login">
  </button>
</a>

{% endblock %}


{% block content %}
<div class="container bg-white">
  <video data-dashjs-player controls src="static/vid/{{ camera }}.mpd" id="video">
  </video>
  <input type="text" name="Laporan" id="laporan">
  <button type="button" class="btn btn-primary" onclick=takeFrame()>Take Frame</button>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Select Camera
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for cam in cameras %}
      <form action="" method="post"><input type="submit" class="dropdown-item" name="Camera" value="{{ cam }}" /></form>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
<script>
  var vid = document.getElementById("video")
  var frameRate = 30
  var theInterval;

  vid.onplay = function () {
    theInterval = setInterval(function () { getCurrentVideoFrame() }, (1000 / frameRate))
  }
  vid.onpause = function () {
    clearInterval(theInterval)
  }

  function getCurrentVideoFrame() {
    curTime = vid.currentTime
    theCurrentFrame = Math.floor(curTime * frameRate)
    // console.log(theCurrentFrame)
    return theCurrentFrame
  }
  function takeFrame() {
    fr = getCurrentVideoFrame()
    laporan = document.getElementById('laporan').value
    //TODO : Bikin Laporan
    //TODO : Pilih Orang
    //TODO : Rapiin Front-end
    // $.post("/lapor", {laporan, image : fr, place : "{{ camera }}",  })
    $.post("/findSuspect", { camera: "{{ camera }}", frameId: fr },
      function (data, status) {
        if (status == "success") {
          vid.src = 'static/vid/' + data
        } else {
          console.log(status)
        }
      })

  }
</script>
{% endblock %}
