<html>

<head>
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
    <style>
        #side1 h2 {
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
        }

        #buildings .gedung {
            padding: 14px 10px;
        }

        #caml1 {
            display: none;
        }

        #caml2 {
            display: none;
        }

        #caml3 {
            display: none;
        }
    </style>
    <title>SMART EYE</title>
</head>

<body>
    <div id='menu'>
        <h1>Smart<br />Eye</h1>
        <a href='#' id="dashboard" class='butt'>
            <div></div>
            <span>Dashboard</span>
        </a>
        <div id='menu'>
            <h1>Smart<br />Eye</h1>
            <a href='#' id="dashboard" class='butt'>
                <div></div>
                <span>Dashboard</span>
            </a>
            <a href='#' id="profile" class='butt'>
                <div></div>
                <span>Profile</span>
            </a>
            <a href="/" id="logout" class='butt'>
                <div></div>
                <span>Log Out</span>
            </a>
        </div>
    </div>
    <div id='main'>
        <div id='side1'>
            <h2>CCTV</h2>
            <div id='buildings'>
                <div class='gedung' id='A'>Gedung A</div>
                <div id='caml1' class='caml'>
                    <a style="margin: 10px auto; display: block" href="/cam/0">cam1</a>
                    <a style="margin: 10px auto; display: block" href="/cam/1">cam2</a>
                </div>
                <div class='gedung' id='B'>Gedung B</div>
                <div id='caml2' class='caml'>
                    <a href="/cam/1">cam2</a>
                </div>
                <div class='gedung' id='C'>Gedung C</div>
                <div id='caml3' class='caml'>
                    <a href="/cam/2">cam3</a>
                </div>
                <div class='gedung'>Gedung D</div>
            </div>
        </div>
        <div id='side2'>

            {% block camera %} {% endblock %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../static/js/dashboard.js"></script>
</body>

</html>