<style>
	#box {
		position: relative;
		display: table;
		width: 100%;
	}
	#box img {
		display: block;
		width: 100%;
	}
	.bbox {
		position: absolute;
		/*pointer-events: none;*/
	}
	.bbox:hover {
		border-color: #f00!important;
	}
</style>
<div id='box'>
	<img id="test" name="hotspot_image" src="static/250.jpg" alt="Hotspot image" />
	<!-- <img id="hotspot_image" name="hotspot_image" src="" alt="Hotspot image" /> -->

</div>
<button onclick="canc()">Cancel Milih</button>
<script>
	//onclick="clickHotspotImage(event);"
	var recjson, btop, bbottom, bleft, bright, recobj, bboxes= []
	
	fetch('http://localhost/smarteye_test/api/footage/')
	// fetch('http://10.30.40.12:3000/v1/smarteye/video/feature/22.23341')
  		.then(function(response) {
    		return response.text(); 
  		})
  		.then(function(text) {
		   	recjson = text
			var hotspot_image = document.getElementById('hotspot_image')
			var box = document.getElementById('box')
		    var iHeight, iWidth

			recobj = JSON.parse(recjson)
			var imageData = recobj.image64
		   	console.log(recobj)
			var im = new Image();

			var  numb, node
			numb = recobj.datas1.object.length


			for (var i = 0; i < numb; i++ ){
				console.log("iii",i)
				node = document.createElement("div");
				node.id = "bbox"+i
				node.className = "bbox"
				var tes = recobj.datas1.object[i].feature
				var kkk = i
				// node.onclick = function () {
				// 	console.log("person ke",kkk)
				// 	console.log(tes)

				// };
				// node.addEventListener( 'click', function(){
				//   console.log("person ke",kkk)
				// 	console.log(tes)
				// } );
				node.setAttribute("onclick","clicker("+i+");");
				box.appendChild(node)
				bboxes.push(node)
			}
			// var bbox = document.getElementById("bbox")
			console.log(bboxes)
			im.onload = function(){
				iHeight = im.height
				iWidth = im.width
				var ratio = iHeight/iWidth
				var parentBoxW = box.offsetWidth
				console.log("width",parentBoxW)
				console.log("height:",parentBoxW*ratio)
				var parentBoxH = parentBoxW*ratio

				for (j = 0; j < numb; j++ ){
					btop = recobj.datas1.object[j].bbox[0]
					bleft = recobj.datas1.object[j].bbox[1]
					bbottom = recobj.datas1.object[j].bbox[2]
					bright = recobj.datas1.object[j].bbox[3]

					var bbox = document.getElementById("bbox"+j)

					console.log("jj",bboxes[j])
				    // bbox.style.top = (btop/iHeight)*parentBoxH+"px"
				    // bbox.style.left = (bleft/iWidth)*parentBoxW+"px"
				    // bbox.style.bottom = (parentBoxH - ((bbottom/iHeight)*parentBoxH)) +"px"
				    // bbox.style.right = (parentBoxW - ((bright/iWidth)*parentBoxW)) +"px"

				    bbox.style.top = (btop/iHeight)*100+"%"
				    bbox.style.left = (bleft/iWidth)*100+"%"
				    bbox.style.bottom = (parentBoxH - ((bbottom/iHeight)*parentBoxH)) / parentBoxH * 100 +"%"
				    bbox.style.right = (parentBoxW - ((bright/iWidth)*parentBoxW)) / parentBoxW * 100 +"%"
				    bbox.style.border = "2px solid transparent"
				    bbox.style.position = "absolute"
				}
			}

			im.src = imageData; 
			hotspot_image.src = im.src
		});

		function clicker(id) {
			var tebox = document.getElementById('bbox'+id)
			// console.log()
			for (i = 0; i < bboxes.length; i++) {
				if(i != id) {
					bboxes[i].style.border = "2px solid transparent"
				}else {
					bboxes[i].style.border = "2px solid #f00"
				}
				
			}
			// tebox.style.border = "2px solid #f00"
			// console.log(bboxes)
			// console.log( document.getElementById('bbox'+id))
			console.log("person ke",id)
			console.log("features:",recobj.datas1.object[id].feature)
		}

		function canc() {
			for (i = 0; i < bboxes.length; i++) {
					bboxes[i].style.border = "2px solid transparent"

				
			}
		}

    
</script>