{% extends 'dash.html' %}
{% block camera %}
<style>
    #box {
        position: relative;
        display: table;
        width: 100%;
    }

    #box img {
        display: block;
        width: 100%;
    }

    .bbox {
        position: absolute;
        /*pointer-events: none;*/
    }

    .bbox:hover {
        border-color: #f00 !important;
    }
</style>
<div class='ha2'>
    Suspect Tracking
</div>
<!-- <div class='dimana'>
    Gedung A - Cam 1 [LIVE]
</div> -->
<!-- <div class='timestamp'>
    18:00:01 - 21 September 2019
</div> -->
<div style="max-width: 6000px; margin:0 auto;">
    <div class='vid'>
        <div class='vid-mask'>
            <div id='framer'>
                <div id='box'>
                    <img id="hotspot_image" src="" alt="Hotspot image" />
                </div>
            </div>
            <video id='vid' autoplay="" preload="none" controls="true">
                <source src="http://[::1]/vid/fb2/fb2.mpd" type="application/dash+xml">
            </video>
        </div>
    </div>
    <div class='laporkan' id='laporkan'>LAPORKAN</div>

    <div id='pelapor'>
        <h2>Apa yang terjadi?</h2>
        <input type='text' name='laporan' id='title' placeholder='Example: Pencurian Sepatu'>
        <br>
        <div class='flexlapor'>
            <a id='lapor' href="/live/">LAPORKAN</a> <a href='#' id='cancel'>KEMBALI</a>
        </div>
    </div>
</div>

<div class='ha2' id>
    Suspect Path
</div>
<div class='vidgrid' style="margin:0 -10px">
    <div class="col" style="max-width:300px; margin:0 10px">
        <div class='vid-mask'>
            <video data-dashjs-player controls id='vid1' src="{{ url_for('static', filename='vid/Rec_0.mpd') }}">
            </video>
        </div>
        <h3>Footage 1</h3>
        <h4>Gedung A cam 1</h4>
    </div>
    <div class="col" style="max-width:300px; margin:0 10px">
        <div class='vid-mask'>
            <video data-dashjs-player controls id='vid1' src="{{ url_for('static', filename='vid/Rec_1.mpd') }}">
            </video>
        </div>
        <h3>Footage 1</h3>
        <h4>Gedung A cam 1</h4>
    </div>
    <div class="col" style="max-width:300px; margin:0 10px">
        <div class='vid-mask'>
            <video data-dashjs-player controls id='vid2' src="{{ url_for('static', filename='vid/Rec_2.mpd') }}">
            </video>
        </div>
        <h3>Footage 2</h3>
        <h4>Gedung A cam 2</h4>
    </div>
</div>
</div>
</div>
{% endblock %}
{% block script %}



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}