<div id='menu'>
    <h1>Smart<br />Eye</h1>
    <a href='#' id="dashboard" class='butt'>
        <div></div>
        <span>Dashboard</span>
    </a>
    <div id='menu'>
        <h1>Smart<br />Eye</h1>


        <a href='#' id="dashboard" class='butt'>
            <div></div>
            <span>Dashboard</span>
        </a>

        <a href='#' id="profile" class='butt'>
            <div></div>
            <span>Profile</span>
        </a>

        <a href="/" id="logout" class='butt'>
            <div></div>
            <span>Log Out</span>
        </a>
    </div>
</div>